.App {
  text-align: center;
  
}

.dayMode {
  background-color: #8eb2f9;
  height: auto;
}

.nightMode {
  background-color: #111e39;
  height: auto;
  color: aliceblue;
}

.mainDiv {
  gap: 15px;
  padding: 18px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none !important;
}

.brand-logo{
  left: 20px!important;
}

#logo{
  font-size: 50px;
  /* margin: 10px; */
}