.mainContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin:35px;
}


.container{
    perspective: 1000px;
    display: flex;
    cursor: pointer;
    justify-content: space-evenly;
}

.container2{
    perspective: 1000px;
    display: flex;
    cursor: pointer;
    justify-content: space-evenly;
}

.flipCard {
    position: relative;
    width: 350px;
    height: 300px;
    border-radius: 21px;
    transition: transform .4s;
    transform-style: preserve-3d;
  }

.container.flip .flipCard {
    transform: rotateY(180deg);
}

.container2.flip .flipCard {
    transform: rotateY(180deg);
}

.front, .back{
    position: absolute;
    border-radius: 21px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.back{
    background-color: rgb(109, 122, 138);
    transform: rotateY(180deg);
}

.front{
    width: inherit;
    height: inherit;
    background-color: #def0ff;
}

img {
    width: 86%;
}


.nightMode .front{
    background-color: #305f71;
}

