.container{
    perspective: 800px;
    display: flex;
    cursor: pointer;
}

.flipCard {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 21px;
    transition: transform .4s;
    transform-style: preserve-3d;
  }

.container.flip .flipCard {
    transform: rotateY(180deg);
}

.front, .back{
    box-shadow:  3px 5px 9px 1px #ffffff;
    position: absolute;
    width: 32%;
    border-radius: 21px;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
