.container{
    perspective: 1000px;
    display: flex;
    cursor: pointer;
    justify-content: space-evenly;
}

.container2{
    perspective: 1000px;
    display: flex;
    cursor: pointer;
    justify-content: space-evenly;
}

.flipCard {
    position: relative;
    width: 30vw;
    height: 40vh;
    border-radius: 21px;
    transition: transform .4s;
    transform-style: preserve-3d;
  }

.container.flip .flipCard {
    transform: rotateY(180deg);
}

.container2.flip .flipCard {
    transform: rotateY(180deg);
}

.front, .back{
    position: absolute;
    border-radius: 21px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .back{
      background-color: rgb(75, 98, 104);
      transform: rotateY(180deg);
  }

  .front{
      width: inherit;
      height: inherit;
      background-color: rgb(46, 119, 146);
  }

  img {
      width: 100%;
  }
