#gallery{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 55px;
}

.galleryPics{
    width: 200px;
    background-color: #363e5b;
    border-radius: 12px;
    cursor: pointer;

}

.boatPics{
    width: 300px;
    background-color: #363e5b;
    border-radius: 12px;
    cursor: pointer;

}